.footer{
    background-color: rgb(32, 32, 99);
    color: white;
    height: 250px;
    padding: 10px 20px;
    margin-top: 50px;
    display: flex;
    gap: 200px;
    justify-content: center;
    align-items: center;
}
.tex{
    color: white;
}
.menu{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 12px;
}